<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        تسجيل الخروج
      </ion-tab-button>

      <ion-tab-button tab="suggestions">
        <ion-icon name="book-outline"></ion-icon>
        الإقتراحات
        <ion-badge >
          {{suggCount || 0}}
        </ion-badge>
      </ion-tab-button>


      <ion-tab-button tab="contacts">
        <ion-icon name="radio"></ion-icon>
        التواصل
      </ion-tab-button>

      <ion-tab-button tab="users">
        <ion-icon name="people-circle"></ion-icon>
        المستخدمون
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
