<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="w40px" (click)="navBack()">
        <img src="../../../assets/icon/icons8_back 1.svg" />
      </ion-button>
    </ion-buttons>
    <ion-title color="light" class="font-reg-24">الإقتراحات</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">suggestions</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
