<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="w40px" (click)="navBack()">
        <img src="../../../assets/icon/icons8_back 1.svg" />
      </ion-button>
    </ion-buttons>
    <ion-title color="light" class="font-reg-24">الإقتراحات</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >


  <ion-segment [value]="segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="read">
      <ion-label>مقروء</ion-label>
    </ion-segment-button>

    <ion-segment-button value="unread">
      <ion-label>
        <ion-badge color="dark">{{unreadCount}}</ion-badge>
        غير مقروء
      </ion-label>
    </ion-segment-button>
  </ion-segment>


  <div class="segment-view">

    <div class="read" *ngIf="segment === 'read'">
      <div class="message border-shadow" *ngFor="let message of suggestions">
        <span> {{message.message}} </span>
      </div>
    </div>

    <div class="unread" *ngIf="segment === 'unread'">
      <div class="message border-shadow" *ngFor="let message of suggestions">
        <span> {{message.message}} </span>
      </div>
    </div>


  </div>
</ion-content>
