*{
  margin: 0;
  box-sizing: border-box;
  // direction: ltr;
}

ion-toolbar{
  padding-bottom: 8px;
  direction: rtl !important;
  --background:var(--ion-color-primary-contrast) !important;
}

ion-content{
  direction: rtl !important;

}
ion-title{
  color: #000 !important;
  padding-inline-end: 16px;
}
ion-buttons {
  padding-inline-end: 16px !important;
  div {
    border-radius: 12px;
    width: 40px;
    height: 40px;
    &:active {
      background: var(--bg-not-purple);
    }

    background: var(--ion-bg-pink);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.container {
  height: 100%;
  margin: auto;
  display: flex;
  // width: 375px;
  padding: 8px 8px;
  justify-content: center;
  align-items: center;
  // align-content: center;
  gap: 8px;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 100px; // delete me later
  .item {
    display: flex;
    width: 167.5px;
    @media(max-width: 350px){
    width: 100%;
    }
    ion-img{
      width: 48px;
      height: 49px;
    }
    padding: 24px 16px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    font-family: "regular";
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
  }
  .item:nth-child(1){
    background: var(--ion-bg-pink);
  }
  .item:nth-child(2){
    background: var(--bg-not-purple);
  }
  .item:nth-child(3){
    background: var(--bg-green);
  }
  .item:nth-child(4){
    background: var(--ion-color-success);
  }
  .item:nth-child(5){
    background: var(--bg-yellow);
  }
  .item:nth-child(6){
    background: var(--bg-pinkish);
  }
  .item:nth-child(7){
    background: var(--bg-orange);
  }
  .item:nth-child(8){
    background: var(--bg-purplish);
  }
  .item:nth-child(9){
    background: var(--bg-green2);
  }
  .item:nth-child(10){
    background: #eee;
  }

  .item:nth-child(11){
    background: var(--bg-green);
  }
}
.container{
  margin-bottom:3rem;
}
ion-content{
  margin-bottom: 1rem !important;
  padding-bottom:1rem !important ;
}
.users{
  padding: 16px;
  background: #eee;
  border-radius: 12px;
  width: fit-content;
  margin: auto;
  h3{
    font-size: 20px;
  }
  
}
